@import '@servicenow/sass-kit/host';

now-modal .modal-content {
    position: relative;
}

now-modal now-loader {
    position: absolute;
    width: 100%;
    margin-top: 10%;
}

now-modal .date-picker-label {
    display: block;
    margin-inline-start: .25rem;
    margin-inline-end: .25rem;
    font-size: .75rem;
    line-height: 1.33333;
    margin-block-end: .125rem;
    color: RGB(var(--now-color--neutral-9, 99, 114, 116));
}

now-modal .date-picker {
    margin: 10px 0;
}

.w-100 {
    width: 100%;
}